.main-resume {
    width: auto;
    height: auto;
    /*margin: 120px auto;*/
}

.main-resume .main-resume__head {
    background: rgb(255, 255, 255);
    border-radius: 5px 5px 0 0;
    padding-bottom: 8px;
}

.main-resume .main-resume__head h3 {
    color: #000000;
    padding: 8px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}

.main-resume .main-resume__head .create {
    text-align: center;
    padding: 8px 8px;
}

.main-resume .main-resume__head .create input {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px 10px 10px 10px;
    border: none;
    color: #ffffff;
    outline: none;
    font-size: large;
    font-family: 'Inter', sans-serif;
    padding: 12px 8px;
    width: 100%;
}

.main-resume .main-resume__head .create input[name="headerInput"] {
    padding-left: 10px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    width: 98%;
}

/*верхняя часть*/

/*.main-resume .main-resume__middle .create {*/
/*    text-align: center;*/
/*    padding: 8px 0 8px 0;*/
/*}*/


/*.main-resume .main-resume__middle .create textarea {*/
/*    background: rgba(0, 0, 0, 0.9);*/
/*    border-radius: 10px 10px 10px 10px;*/
/*    border: none;*/
/*    color: #ffffff;*/
/*    outline: none;*/
/*    font-size: large;*/
/*    font-family: 'Inter', sans-serif;*/
/*    padding: 12px 0;*/
/*    width: 100%;*/
/*    height: 300px;*/
/*}*/

/*.main-resume .main-resume__middle .create textarea[name="textInput"] {*/
/*    padding-left: 10px;*/
/*    font-weight: 550;*/
/*    font-size: medium;*/
/*    font-family: 'Nunito', sans-serif;*/
/*    text-align: left;*/
/*    width: 100%;*/
/*}*/

.main-resume .main-resume__middle p {
    background: #FFFFFF;
    color: #000000;
    font-weight: 550;
    font-size: medium;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
    padding: 12px 24px 12px 24px;
    text-align: left;
}

.main-resume .main-resume__middle .central {
    background: #FFFFFF;
    margin: 0 0 0 0;
    padding: 0 0 8px 8px;
}


.main-resume .main-resume__middle .central input {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px 10px 10px 10px;
    border: none;
    font-weight: 550;
    padding: 12px 0 12px 10px;
    font-size: medium;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    color: #ffffff;
    outline: none;
    width: 49.3%;
}

.main-resume .main-resume__middle .central textarea {
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px 10px 10px 10px;
    border: none;
    font-weight: 550;
    padding: 12px 0 12px 10px;
    font-size: medium;
    font-family: 'Nunito', sans-serif;
    text-align: left;
    color: #ffffff;
    outline: none;
    height: 150px;
    width: 49.3%;
}

.main-resume .main-resume__middle p {
    color: #000000;
    font-weight: 550;
    font-size: medium;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
    padding: 12px 24px 12px 24px;
    text-align: left;
}

.main-resume .main-resume__foot {
    background: rgb(255, 255, 255);
    border-radius: 0 0 5px 5px;
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

.main-resume .main-resume__foot .left {
    float: left;
    width: 50%;
}

.main-resume .main-resume__foot .left button {
    padding: 8px 0 8px 8px;
}

.main-resume .main-resume__foot .right {
    float: right;
    width: 50%;
}

.main-resume .main-resume__foot .right button {
    text-align: right;
    padding: 8px 12px 8px 8px;
}

.main-resume .main-resume__foot .right button span {
    padding-right: 10px;
    padding-left: 15px;
}

.main-resume .main-resume__foot .right form {
    text-align: right;
    padding: 0;
    margin: 0;
}

.main-resume .main-resume__foot .create {
    text-align: center;
    padding: 8px 0 8px 0;
}

.main-resume .main-resume__foot .create input[type="submit"] {
    background: #000000;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 12px;
    border: none;
    color: #ffffff;
    font-weight: 750;
    font-size: large;
    font-family: 'Goldman', cursive;
    padding: 8px 8px 8px 8px;
    width: 98%;
    cursor:pointer;
}