/*Приклеенный навбар сверху*/
nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-brand a {
    padding-left: 0;
    margin-left: 0;
}

.navbar-brand span {
    color: white;
    font-weight: bolder;
}
/*Навбар свтлый*/
.nav.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.88);
}

.navbar-right .search {
    margin-top: 5px;
    text-align: center;
}

.navbar-right .search input {
    height: 40px;
    border-radius: 25px;
}